fastapi 
uvicorn 
langchain 
langchain-community 
pydantic 
pdfplumber 
pymupdf
pymongo 
motor
sqlalchemy 
pyodbc
redis
python-multipart
sentence-transformers
faiss-cpu
langchain-ollama
google-genai
langchain-groq
python-dotenv
camelot
uvicorn main:app --reload
